.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2f54eb;
}

.login .login-wrap {
    width: 500px;
    height: 340px;
    padding-top: 85px;
    margin: 180px auto;
    background-color: #FFF;
    position: relative;
}

.login .login-wrap .input-group {
    margin: 20px 0;
}

.login .login-wrap .fa {
    width: 18px;
    font-size: 20px;
}